html{
    background-color: black;
    overflow: scroll;
}
.interphase{
    display: flex;
    gap: 2px;
    align-items: first baseline;
    justify-content: center;
}

                              /* <!--.............. LEFT INTERPHASE ..................................--> */

.left{
    width :24vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: black;
    border-radius: 6px;
}
.box1{
    height: 130px;
    width: 22vw;
    border-radius: 6px;
    background-color: rgb(19, 19, 19);
}
.box1 a{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
.box1 a:hover{
    font-size: 21px;
}
.box1 li{
    margin-bottom: 10px;
    list-style-type: none;
}
.logo{
    width : 90px;
    filter: invert(1);
}
.home,.search{
    width: 25px;
    vertical-align:middle;
    margin-right: 12px;
    filter: invert(1);
}
.box2{
    border-radius: 6px;
    width: 22vw;
    height: 365px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: rgb(19,19,19);
}
.top{
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    right: 25px;
}
.top a{
    position: relative;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    left: 5px;
    color: white;
}
.top a:hover{
    font-size: 16px;
}
.top img{
    vertical-align: middle;
    width: 22px;
    filter: invert(1);
}
.plus{
    position: relative;
    left: 40px;
}
.scroll{
    height: 60px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    text-align: center;
    background-color: rgb(19,19,19);
}
.first,.second{
    background-color: rgb(40, 40, 40);
    width: 19vw;
    border-radius: 8px;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    margin-top: 25px;
}
.scroll b{
    font-weight: bolder;
    font-size: 18px;
    color: white;
}
.scroll div{
    margin-bottom: 8px;
    color: white;
    font-size: 14px;
}
.scroll button{
    height: 40px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 17px;
    background-color: white;
    border: none;
}
.scroll button:hover{
    background-color: rgb(163, 255, 255);
}
.end{
    height: 220px;
    width: 22vw;
}
.links a{
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
}
.links li{
    list-style-type: none;
}
.links a:hover{
    font-weight: bold;
}
#one{
    position: relative;
    font-weight: bolder;
    border-radius: 20px;
    padding: 5px;
    left: 30px;
    top: 15px;
    height: 35px;
}

                              /* <!--.............. Right INTERPHASE ..................................--> */

.right{
    height: 510px;
    width: 72vw;
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 6px;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
    gap: 30vw;
    background-color: rgb(19,19,19);
    border-radius: 6px;
}
.icon{
    display: flex;
    gap: 20px;
}
.icon img{
    width: 20px;
    filter: invert(0.7);
    border: 1px solid;
    border-radius: 18px;
    padding: 6px;
}
.sl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.sl button{
    border: 2px;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: large;
} 
.s{
    color: rgb(169, 176, 174);
    background-color: rgb(19,19,19);
}
.s:hover{
    color: rgb(232, 228, 228); ;
}
.l{
    background-color: white;
}
.l:hover{
    background-color: rgb(221, 240, 255);
}
footer{
    background-color: rgb(195, 104, 255);
    width: 95vw;
    border-radius: 6px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20vw;
    margin: 12px auto;
    box-sizing: border-box;
}
.det a{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 3px;
}
.det a :hover{
    color: rgb(121, 255, 255);
}
footer button{
    height: 45px;
    border: none;
    border-radius: 40px;
    font-weight: bolder;
    width: 120px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 14px;
}
footer button:hover{
    background-color: aqua;
}
@media screen and (max-width:800px){
}