body{
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
}
.interphase{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 66px;
    gap: 2px;
}
.subscription{
    width: 95vw;
    border-radius: 6px;
    background-color: wheat;
    height: 90px;
    position: relative;
    margin: auto;
    left: 5px;
}
.material{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    width: 80vw;
}
.subscription button{
    width: 94px;
    border-radius: 20px;
    border: none;
    position: relative;
    bottom: 65px;
    font-size: 13px;
    height: 25px;
    color: white;
    background-color: black;
}
.subscription h2{
    position: relative;
    bottom: 15px;
}
.subscription p{
    position: relative;
    bottom: 52px;
}

                              /* <!--.............. LEFT INTERPHASE ..................................--> */

.left{
    width :24vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: black;
    border-radius: 6px;
}
.box1{
    height: 130px;
    width: 22vw;
    border-radius: 6px;
    background-color: rgb(19, 19, 19);
}
.cross1{
    display: flex;
}
.cross{
    display: none;
    filter: invert(1);
    width: 18px;
}
.box1 a{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
.box1 a:hover{
    font-size: 21px;
}
.box1 li{
    margin-bottom: 10px;
    list-style-type: none;
}
.logo{
    width : 90px;
    filter: invert(1);
}
.home,.search{
    width: 25px;
    vertical-align:middle;
    margin-right: 12px;
    filter: invert(1);
}
.box2{
    border-radius: 6px;
    height: 760px;
    width: 22vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: rgb(19,19,19);
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    height: 400px;
}
.top a{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
.songs_l{
    overflow: auto;
    scrollbar-width: none;
    align-items: center;
    width: 20vw;
    height: 350px;
    border-radius: 6px;
    background-color: rgb(34, 34, 34);
}
.songs_l ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top li{
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 20px;
    color: white;
    width: 17vw;
    margin: 5px 0;
    padding: 6px;
    border-radius: 6px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
}

.top h4{
    color: white;
}
.top a:hover{
    font-size: 16px;
}
.top img{
    vertical-align: middle;
    width: 22px;
    filter: invert(1);
}
.scroll{
    height: 140px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: center;
    background-color: rgb(19,19,19);
}
.first,.second{
    background-color: rgb(40, 40, 40);
    width: 19vw;
    border-radius: 8px;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    margin-top: 15px;
}
.scroll b{
    font-weight: bolder;
    font-size: 18px;
    color: white;
}
.scroll div{
    margin-bottom: 8px;
    color: white;
    font-size: 14px;
}
.scroll button{
    height: 40px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 17px;
    background-color: white;
    padding: 5px;
    border: none;
}
.scroll button:hover{
    background-color: rgb(163, 255, 255);
}
.end{
    width: 22vw;
}
.links a{
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
}
.links li{
    list-style-type: none;
}
.links a:hover{
    font-weight: bold;
}
#one{
    position: relative;
    font-weight: bolder;
    border-radius: 20px;
    padding: 5px;
    left: 30px;
    height: 35px;
}

                              /* <!--.............. Right INTERPHASE ..................................--> */

.right{
    height: 895px;
    width: 72vw;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: rgb(28, 28, 28);
    border-radius: 6px;
}
nav{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    background-color: rgb(19,19,19);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.icon{
    display: flex;
    align-items: center;
}
.menu{
    filter: invert(1);
    display: none;
    width: 35px;
}
.il,.ir{
    width: 20px;
    height: 20px;
    filter: invert(0.7);
    border: 1px solid;
    border-radius: 100px;
    padding: 6px;
    margin-left: 20px;
}
.sl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.sl button{
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: large;
    padding: 5px;
} 
.s{
    color: rgb(169, 176, 174);
    background-color: rgb(19,19,19);
}
.s:hover{
    color: rgb(232, 228, 228); ;
}
.l{
    background-color: white;
}
.l:hover{
    background-color: rgb(221, 240, 255);
}
.theme{
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 780px;
    position: relative;
}
.artists,.albums,.charts,.radio{
    height: 280px;
}
.albums,.charts,.radio{
    position: relative;
    bottom: 15px;
}
.up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40vw;
}
.up a{
    text-decoration: none;
    color: white;
}
.up a:hover{
    text-decoration:underline;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    position: relative;
    bottom: 15px;
}
.cards button .m,.cards button .a{
    margin-top: 15px;
    margin-bottom: 4px;
}
.cards p{
    width: 130px;
    text-align: start;
}
.m{
    width: 125px;
    height: 130px;
    border-radius: 100px;
}
.a{
    width: 130px;
    height: 130px;
    border-radius: 10px;
}
.cards button{
    margin-left: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: rgb(21, 21, 21);
    color: white;
    border: none;
}
.play {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: rgb(32, 136, 32);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 10px;
    bottom: 55px;
    opacity: 0;
}
.cards button:hover{
    background-color: rgb(10, 10, 10);
    .play{
        opacity: 1;
        position: absolute;
        bottom: 70px;
        transition: ease-in 0.2s;
    }
}
.helpline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    display: flex;
    justify-content: center;
    width: 65vw;
    height: 300px;
    color: white;
    margin-top: 10px;
}
.all li{
    list-style-type: none;
}
.all a{
    text-decoration: none;
    color: rgb(179, 179, 179);
}
.all a:hover{
    text-decoration: underline;
}
.line{
    width: 65vw;
    margin: auto;
    border: 0.5px solid rgb(163, 163, 163);
    position: relative;
    bottom: 20px;
}
.b-line{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap: 10vw;
    z-index: 1;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.b-line img{
    filter: invert(1);
    width: 20px;
    height: 20px;
    padding: 5px;
}
.b-line .c{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
} 
.b-line .c:hover{
    background-color: rgb(60, 60, 60);
}
.playbar{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 95.2vw;
    top: 98px;
    position: absolute;
    left: 1.5vw;
    background-color: rgb(19, 19, 19);
    margin: auto;
    border-radius: 6px;
    z-index: 1;
}
.arrange{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20vw;
    padding: 5px;
    margin: 8px 0px;
    background-color: rgb(39, 39, 39);
    width: 80vw;
    border-radius: 6px;
}
.state{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 10px;
}
.name,.time{
    color: white;
    padding: 5px;
}
.length{
    background-color: white;
    width: 70vw;
    height: 1px;
    margin: auto;
    position: relative;
    top: -9px;
    cursor: pointer;
}
.circle{
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 100px;
    position: relative;
    bottom: 3px;
    left: 0%;
}
.playbar img{
    filter: invert(1);
    cursor: pointer;
}
footer{
    background-color: rgb(195, 104, 255);
    width: 94.7vw;
    border-radius: 6px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 22vw;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    top: 70px;
    left: 2px;
}
.det a{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 3px;
}
.det a:hover{
    color: rgb(121, 255, 255);
}
footer button{
    height: 45px;
    border: none;
    border-radius: 40px;
    font-weight: bolder;
    width: 120px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
footer button:hover{
    background-color: aqua;
}